* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#mobile-upload {
  overflow: auto;
  min-height: 100vh;
  background: url(./images/Sprinkle.svg) center;
  background-size: 660%;
}

#mobile-upload .container-fluid {
  width: 95%;
  max-width: 540px;
  margin: 20vh auto 0;
  overflow: auto;
}

#mobile-upload.uploaded .container-fluid {
  margin: 0 auto;
}

#mobile-upload h2 {
  font-size: 2rem;
  color: #fbfbfb;
  text-align: center;
  letter-spacing: 0.3em;
  padding: 1em 0;
  text-shadow: 2px 3px 0px #222222;
}

#mobile-upload input,
#mobile-upload button,
#mobile-upload .upload-field {
  display: block;
  width: 16rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5em;
  color: #333333;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

#mobile-upload .loading {
  display: none;
  text-align: center;
}

#mobile-upload.uploading .loading {
  display: block;
}

#mobile-upload .images-icon {
  text-align: center;
  margin-bottom: 1em;
}

#mobile-upload .images-icon img {
  width: 62%;
}

#mobile-upload.uploaded .images-icon {
  display: none;
}


#mobile-upload .upload-field {
  text-align: center;
  margin: 0 auto;
  position: relative;
}

#mobile-upload.uploaded .upload-field {
  display: none;
}

#mobile-upload .upload-field small {
  color: #505050;
}

#mobile-upload .upload-field input {
  padding: 0.2em 5.5rem;
  color: #ffffff00;
}

#mobile-upload .upload-field button {
  background-color: #f5cd82;
  pointer-events: none;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
}

#mobile-upload .preview-field canvas {
  display: block;
  width: 100%;
  height: auto;
}

#mobile-upload .submit-field {
  text-align: center;
  margin: 2em auto;
}

#mobile-upload .submit-field button.submit-btn {
  background-color: #f5cd82;
  margin: 0.3em auto;
}

#mobile-upload .submit-field button.cancel-btn {
  background-color: #dddddd;
  margin: 0.3em auto;
}


@media (min-width: 768px) {
  #mobile-upload {
    background-size: 200%;
  }
}

